.counties {
    fill: none;
}

.states {
    fill: none;
    stroke: #000000;
    stroke-linejoin: round;
}

.na_state { fill: rgb(0,0,0); }

.legend path {
    display: none;
}

.legend line {
    stroke: #000;
    shape-rendering: geometricPrecision;
}

line {
    shape-rendering: geometricPrecision;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.dropdown-column {
    list-style: none;
}

.hovered-item {
    color: #749eff;
}

.selection-item {
    cursor: pointer;
}

.scrolling-dropup {
    overflow-y: scroll;
}

.big-button {
    width: 100%;
}

.a {
    color: #4575B4;
    color: #FFFFBF;
    color: #A50026;
}

.map-container {
    height: 80vh;
}

@media (min-width: 1001px) {
    .responsive-text {
        font-size: 14px !important;
    }

    .responsive-text-lg {
        font-size: 18px !important;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .responsive-text {
        font-size: 12px !important;
    }

    .responsive-text-lg {
        font-size: 16px !important;
    }
}

@media (max-width: 767px) {
    .responsive-text {
        font-size: 10px !important;
    }

    .responsive-text-lg {
        font-size: 14px !important;
    }
}




