.counties {
    fill: none;
}

.states {
    fill: none;
    stroke: #000000;
    stroke-linejoin: round;
}

.na_state { fill: rgb(0,0,0); }

.legend path {
    display: none;
}

.legend line {
    stroke: #000;
    shape-rendering: geometricPrecision;
}

line {
    shape-rendering: geometricPrecision;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.dropdown-column {
    list-style: none;
}

.hovered-item {
    color: #749eff;
}

.selection-item {
    cursor: pointer;
}

.scrolling-dropup {
    overflow-y: scroll;
}

.button-label {
    padding-right: 0 !important;
}

.a {
    color: #4575B4;
    color: #FFFFBF;
    color: #A50026;
}

@media (min-width: 992px) {
    .responsive-text {
        font-size: 14px !important;
    }

    .responsive-text-lg {
        font-size: 16px !important;
    }

    .responsive-text-title {
        font-size: 24px !important;
    }

    .interesting-reports {
        margin-top: 20px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .responsive-text {
        font-size: 12px !important;
    }

    .responsive-text-lg {
        font-size: 13px !important;
    }

    .responsive-text-title {
        font-size: 20px !important;
    }

    .interesting-reports {
        margin-top: 15px !important;
    }
}

@media (max-width: 767px) {
    .responsive-text {
        font-size: 10px !important;
    }

    .responsive-text-lg {
        font-size: 11px !important;
    }

    .responsive-text-title {
        font-size: 18px !important;
    }

    .interesting-reports {
        margin-top: 10px !important;
    }
}

@media (max-width: 500px) {
    .responsive-text {
        font-size: 8px !important;
    }

    .responsive-text-lg {
        font-size: 9px !important;
    }

    .responsive-text-title {
        font-size: 14px !important;
    }

    .interesting-reports {
        margin-top: 10px !important;
    }
}

div.map-aspect {
    width: 100%;
    padding-bottom: 69%; /* 16:9 */
    position: relative;
    background: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 3px;
}

div.map-aspect > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    color: white;
    font-size: 24px;
    text-align: center;
}

.page-title {
    margin-top: 5px !important;
}

