.counties {
    fill: none;
}

.states {
    fill: none;
    stroke: #000000;
    stroke-linejoin: round;
}

.na_state { fill: rgb(0,0,0); }

.legend path {
    display: none;
}

.legend line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
