<div ng-controller="MapController">
    <div class="container">
        <div class="row">
            <h2 class="bg-info">Medicare-Medicaid Linked Enrollee Analytic Data Source (MMLEADS) <br>Version 2.0 Public
                Use
                File (PUF) Visualization</h2>
            <br>

            <p class="lead">
                On 4/23/15 the Centers for Medicare & Medicade Services released a public-use file containing
                information on eligibility, enrollment, cost, use, and select health and mental health conditions for
                Medicare and Medicaid enrollees from all states from 2006 to 2010.
                <br><br>
                Below is a visualization of the data found in that file. The purpose of this visualization is to make
                this important data easier to comprehend.
                <br><br>
                Be advised there may be some skew where numbers given only as percentages
                in the public-use file were translated to whole numbers. Numbers censored for anonymization purposes
                are represented as 0 for the purposes of this visualization.
                <br><br>
                The original file can be downloaded in Excel format <a
                    href="http://www.cms.gov/Medicare-Medicaid-Coordination/Medicare-and-Medicaid-Coordination/Medicare-Medicaid-Coordination-Office/Downloads/MMLEADSPUFTablesExcel.zip">here</a>.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="map" class="map-container" d3_map></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                Choose Variable:
            </div>
            <div class="col-lg-10">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <div dropdown is-open="status.isopen" auto-close="outsideClick">
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                                {{variable}}
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu big-button" role="menu">
                                <div ng-repeat="(category, items) in variable_categories">
                                    <ul class="dropdown-column">
                                        <category ng-click="toggle_category(category)"/>
                                        <li class="divider"></li>
                                        <variable ng-repeat="item in variable_categories[category]"
                                                  ng-show="categories_show[category]" ng-click="setvar(item)"/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                Choose Year:
            </div>
            <div class="col-lg-10">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="year" btn-radio="'2006'">
                            2006
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="year" btn-radio="'2007'">
                            2007
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="year" btn-radio="'2008'">
                            2008
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="year" btn-radio="'2009'">
                            2009
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="year" btn-radio="'2010'">
                            2010
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                Comparison Year:
            </div>
            <div class="col-lg-10">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="comparison_year" btn-radio="false">
                            None
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="comparison_year" ng-disabled="year >= 2007"
                               btn-radio="'2007'">
                            2007
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="comparison_year" ng-disabled="year >= 2008"
                               btn-radio="'2008'">
                            2008
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="comparison_year" ng-disabled="year >= 2009"
                               btn-radio="'2009'">
                            2009
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="comparison_year" ng-disabled="year >= 2010"
                               btn-radio="'2010'">
                            2010
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                Choose Enrollment(s):
            </div>
            <div class="col-lg-10">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="enrollment_types['Full Benefit']"
                               btn-checkbox>
                            Full Benefit
                        </label>
                    </div>


                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="enrollment_types['Partial Benefit']"
                               btn-checkbox>
                            Partial Benefit
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="enrollment_types['Medicare Only']"
                               btn-checkbox>
                            Medicare Only
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary"
                               ng-model="enrollment_types['Medicaid Only (Disability)']" btn-checkbox>
                            Medicaid Only (Disability)
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                Denominator:
            </div>
            <div class="col-lg-10">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="denominator" btn-radio="false">
                            None
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="denominator" btn-radio="'Number of People'"
                               ng-disabled="!variableNumberOfPeople()">
                            Total # Enrolled
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="denominator" btn-radio="'Number of People with FFS'"
                               ng-disabled="!variableFFS()">
                            # of People with FFS
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="denominator" btn-radio="'Number of Females with FFS'"
                               ng-disabled="!variableFFSFemales()">
                            # of Females with FFS
                        </label>
                    </div>
                    <div class="btn-group" role="group">
                        <label class="btn btn-primary" ng-model="denominator" btn-radio="'Number of Males with FFS'"
                               ng-disabled="!variableFFSMales()">
                            # of Males with FFS
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-2">
                <strong>Interesting Reports</strong>
            </div>
            <div class="col-lg-10">
                <ul>
                    <li ng-repeat="settings in presets" ng-click="setFromPreset(settings)">
                        <a href="">{{settings.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
